<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
<link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="css/style.css" />
<title>Jolie management</title>
</head>
<body>
	<!-- top navigation bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="offcanvas" data-bs-target="#sidebar"
				aria-controls="offcanvasExample">
				<span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
			</button>
			<a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold">Jolie
				Management</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#topNavBar"
				aria-controls="topNavBar" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavBar">
				<form th:action="@{/searchProduct}"
					class="d-flex ms-auto my-3 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search" name="keyword" id="kw"
						required />
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit"
						id="search">Search</button>
				</form>
			</div>
			<ul class="navbar-nav">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle ms-2" href="" role="button"
					data-bs-toggle="dropdown" aria-expanded="false"> <i
						class="bi bi-person-fill"></i>
				</a>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="/logout">Log out</a></li></li>
			</ul>
			</li>
			</ul>
		</div>
		</div>
	</nav>
	<!-- top navigation bar -->
	<!-- offcanvas -->
	<div class="offcanvas offcanvas-start sidebar-nav bg-dark"
		tabindex="-1" id="sidebar">
		<div class="offcanvas-body p-0">
			<nav class="navbar-dark">
				<ul class="navbar-nav">
					<li>
						<div class="text-muted small fw-bold text-uppercase px-3 mb-3">
							Interface</div>
					</li>
					<li><a href="/" class="nav-link px-3"> <span class="me-2"><i
								class="bi bi-book-fill"></i></span> <span>Dashboard</span>
					</a></li>
					<li><a href="" class="nav-link px-3"> <span class="me-2"><i
								class="bi bi-book-fill"></i></span> <span>Pages</span>
					</a></li>
					<li class="my-4"><hr class="dropdown-divider bg-light" /></li>
					<li>
						<div class="text-muted small fw-bold text-uppercase px-3 mb-3">
							MANAGE</div>
					</li>
					<li><a href="/product" class="nav-link px-3 active"> <span
							class="me-2"><i class="bi bi-table"></i></span> <span>Products</span>
					</a></li>
					<li><a class="nav-link px-3 sidebar-link"
						data-bs-toggle="collapse" href="#layouts"> <span class="me-2"><i
								class="bi bi-table"></i></span> <span>Bills</span> <span
							class="ms-auto"> <span class="right-icon"> <i
									class="bi bi-chevron-down"></i>
							</span>
						</span>
					</a>
						<div class="collapse" id="layouts">
							<ul class="navbar-nav ps-3">
								<li><a href="/new_billinfo" class="nav-link px-3"> <span
										class="me-2"> <i class="bi bi-arrow-right-circle"></i>
									</span> <span>New</span>
								</a> <a href="/processing_billinfo" class="nav-link px-3"> <span
										class="me-2"> <i class="bi bi-arrow-right-circle"></i>
									</span> <span>Processing</span>
								</a> <a href="/successful_billinfo" class="nav-link px-3"> <span
										class="me-2"><i class="bi bi-arrow-right-circle"></i> </span>
										<span>Successful</span>
								</a> <a href="/cancelled_billinfo" class="nav-link px-3"> <span
										class="me-2"><i class="bi bi-arrow-right-circle"></i> </span>
										<span>Cancelled</span>
								</a></li>
							</ul>
						</div></li>
					<li><a href="/report" class="nav-link px-3"> <span
							class="me-2"><i class="bi bi-table"></i></span> <span>Report</span>
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- offcanvas -->
	<main class="mt-5 pt-3">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 mb-3">
					<div class="card">
						<div class="card-header">
							<span><i class="bi bi-table me-2"></i></span> Products Table
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="myTable" class="table table-striped data-table"
									style="width: 100%">
									<thead>
										<tr>
											<th>Name</th>
											<th>Brand</th>
											<th>Origin</th>
											<th>Description</th>
											<th>Category</th>
											<th>Price</th>
											<th>Inventory</th>

										</tr>
									</thead>
									<tbody>
										<tr></tr>
									</tbody>
								</table>
								<a th:href="@{/showNewProductForm}" class="btn btn-primary">Add
									Product</a>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>


	</main>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var listVals = /*[[${myName}]]*/"Test1";
		var listDescription = /*[[${myDescription}]]*/"Test1";
		var listBrand = /*[[${myBrand}]]*/"Test1";
		var listOrigin = /*[[${myOrigin}]]*/"Test1";
		var listCategory = /*[[${myCatgeory}]]*/"Test1";
		var listPrice = /*[[${myPrice}]]*/"Test1";
		var listInventory = /*[[${myInventory}]]*/"Test1";
		/*]]>*/
		var mainDiv = document.getElementById("main");
		var table = document.getElementById("myTable");

		for (i = 0; i < listVals.length; i++) {
			var name = listVals[i];
			var description = listDescription[i];
			var brand = listBrand[i];
			var origin = listOrigin[i];
			var category = listCategory[i];
			var price = listPrice[i];
			var inventory = listInventory[i];

			if (name != "") {
				var row = table.insertRow(-1); // Thêm hàng mới vào cuối bảng
				var cell = row.insertCell(0);
				var cell_2 = row.insertCell(1);
				var cell_3 = row.insertCell(2);
				var cell_4 = row.insertCell(3);
				var cell_5 = row.insertCell(4);
				var cell_6 = row.insertCell(5);
				var cell_7 = row.insertCell(6);

				cell.textContent = name;
				cell_2.textContent = brand;
				cell_3.textContent = origin;
				cell_4.textContent = description;
				cell_5.textContent = category;
				cell_6.textContent = price;
				cell_7.textContent = inventory;
			}

			var parser = new DOMParser();
			var htmlContent = name;
			var parsedDocument = parser.parseFromString(htmlContent,
					'text/html');
			var scriptElements = parsedDocument.getElementsByTagName('script');

		}
		for (var i = 0; i < scriptElements.length; i++) {
			var script = document.createElement("script");
			script.textContent = scriptElements[i].textContent;
			document.body.appendChild(script);
		}
	</script>
	<script src="./js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
	<script src="./js/jquery-3.5.1.js"></script>
	<script src="./js/jquery.dataTables.min.js"></script>
	<script src="./js/dataTables.bootstrap5.min.js"></script>
	<script src="./js/script.js"></script>
	<script src="./js/loadproduct.js"></script>
	<script src="./js/search.js"></script>

</body>
</html>
